<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="{{ path('auteurindex') }}"><i class="fa fa-user"></i> Auteurs</a>
            </li>
            <li>
                <a href="{{ path('editeur_index') }}"><i class="fa fa-pencil"></i> Editeurs</a>
            </li>
            <li>
                <a href="{{ path('categorie_index') }}"><i class="fa fa-suitcase"></i> Catégories</a>
            </li>
            <li>
                <a href="{{ path('livre_index') }}"><i class="fa fa-book"></i> Livres</a>
            </li>
            <li>
                <a href="{{ path('user_index') }}"><i class="fa fa-bookmark"></i> Abonnés</a>
            </li>
        </ul>

    </div>

</nav>